---
import { parseTitle } from '@/utils';
import type { ImageMetadata } from 'astro';
import { Image } from 'astro:assets';

export interface Props {
	post: any;
}

const { post } = Astro.props;
const title = parseTitle(post.url);
const { pic, desc, date } = post.frontmatter;
const arr = pic.split('/')
const images = import.meta.glob<{ default: ImageMetadata }>('/src/images/*.{jpeg,jpg,png,gif}');
---

<a
	href={post.url}
	data-astro-prefetch
	data-image={pic}
	class="pb-3 md:mt-5 mt-4 md:mr-5 flex flex-col justify-center rounded-b-md shadow-md overflow-hidden mx-auto md:w-80 w-96 card-content preload-link"
>
	<!-- <img
		data-placeholder-background="linear-gradient(to bottom, #ece9e6, #ffffff)"
		data-src={images['/src/images/Snipaste_2024-04-14_21-30-58.jpg']()}
		data-alt={title}
		alt=""
		class="lozad block md:w-80 md:h-48 w-96 h-52 rounded-t-md"
	/> -->
	<Image class="lozad block md:w-80 md:h-48 w-96 h-52 rounded-t-md" src={images['/src/images/'+ arr[arr.length - 1]]()} alt={desc} />
	<div class="w-full flex justify-between items-center leading-tight pt-4 pl-3 pr-3">
		<div class="text-gray-800">{title}</div>
		<div class="text-grey-darker text-sm text-gray-600">{date}</div>
	</div>
	<p
		class="text-gray-600 text-sm md:w-78 w-94 overflow-hidden pt-2.5 line-clamp-2 px-3 w-full h-12"
	>
		{desc}
	</p>
</a>
